SHIOBAM VALENTINA ESPITIA PRADA

PRIMER PUNTO

In [394]:
def datos():
  primern = (input("Escriba su primer nombre: "))
  segundon = (input("Si tiene segundo nombre diga Si de lo contrario diga No: "))
  if segundon == "Si":
    segundo = (input("Escriba su segundo nombre: "))
  PrimerA = input("Escriba su primer apellido: ")
  seg = (input("Si tiene segundo apellido diga Si de lo contrario diga No: ")) 
  if seg == "Si":
    SegAp =str((input("Escriba su segundo apellido: ")))
  Edad = int(input("Escriba su edad: "))
  iden_via = input("Escriba la identificacion de la vida: ")
  num_via = int(input("Escriba el numero que acompaña a la via: "))
  marca_num1 = int(input("Escriba el numero de marca 1: "))
  letra = input("Escriba la letra luego del numero: ")
  marca_num2 = int(input("Escriba el numero de marca 2: "))
  casa = (input("Escriba numero de casa: "))
  if segundon == "No" and seg == "No":
    print(f"Su hombre es {primern} {PrimerA} su edad es {Edad} y\nLa direccion es {iden_via} {num_via} # {marca_num1}{letra} - {marca_num2} y la casa es {casa}" )
  if segundon == "No":
    print(f"Su hombre es {primern} {PrimerA} {SegAp} su edad es {Edad} y\nLa direccion es {iden_via} {num_via} # {marca_num1}{letra} - {marca_num2} y la casa es {casa}" )
  if seg == "No":
    print(f"Su hombre es {primern} {segundo} {PrimerA} su edad es {Edad} y\nLa direccion es {iden_via} {num_via} # {marca_num1}{letra} - {marca_num2} y la casa es {casa}" )
  else:
    print(f"Su hombre es {primern} {segundo} {PrimerA} {SegAp} su edad es {Edad} y\nLa direccion es {iden_via} {num_via} # {marca_num1}{letra} - {marca_num2} y la casa es {casa}" )

In [396]:
datos()

Escriba su primer nombre: Shiobam
Si tiene segundo nombre diga Si de lo contrario diga No: Si
Escriba su segundo nombre: Valentina
Escriba su primer apellido: Espitia
Si tiene segundo apellido diga Si de lo contrario diga No: No
Escriba su edad: 18
Escriba la identificacion de la vida: Carrera
Escriba el numero que acompaña a la via: 10
Escriba el numero de marca 1: 15
Escriba la letra luego del numero: d
Escriba el numero de marca 2: 24
Escriba numero de casa: apto 303
Su hombre es Shiobam Valentina Espitia su edad es 18 y
La direccion es Carrera 10 # 15d - 24 y la casa es apto 303

SEGUNDO PUNTO

In [ ]:
def Nombre():
  n = (input("Escriba su nombre: "))
  resul = n
  return f"Hola {resul} "

In [ ]:
Nombre()

Escriba su nombre: Valentina

'Hola: Valentina '

TERCER PUNTO

In [ ]:
def Area():
  CmLados = int(input("Escriba cuanto mide uno de los lados del cuadrado: "))
  resul = CmLados**2
  return f"El area del cuadrado es: {resul} centimetros cuadrados"

In [ ]:
Area()

Escriba cuanto mide uno de los lados del cuadrado: 6

'El area del cuadrado es: 36'

CUARTO PUNTO

In [ ]:
def AreaRec():
  Base = int(input("Escriba en cm la base del rectangulo: "))
  Altura = int(input("Escriba en cm la altura del rectangulo: "))
  resul = Base * Altura
  return f"El area del rectangulo es: {resul} centimetros cuadrados"

In [ ]:
AreaRec()

Escriba en cm la base del rectangulo: 15
Escriba en cm la altura del rectangulo: 7

'El area del rectangulo es: 105 centimetros cuadrados'

QUINTO PUNTO

In [ ]:
def AreaTria():
  Base = int(input("Escriba en cm la base del triangulo: "))
  Altura = int(input("Escriba en cm la altura del triangulo: "))
  resul = int((Base * Altura)/2)
  return f"El area del triangulo es: {resul} centimetros cuadrados"

In [ ]:
AreaTria()

Escriba en cm la base del triangulo: 12
Escriba en cm la altura del triangulo: 15

'El area del triangulo es: 90 centimetros cuadrados'

SEXTO PUNTO

In [ ]:
def Botellas():
  Bot1L = int(input("Escriba cuantas botellas de 1 litro reciclo: "))
  Bot1mL = int(input("Escriba cuantas botellas de 1.5 litros reciclo: "))
  Bot2L = int(input("Escriba cuantas botellas de 2 litros reciclo: "))
  resul = Bot1L * 1000 + Bot1mL * 2000 + Bot2L * 3000
  return f"Lo que el usuario debe recibir es: {resul}"

In [ ]:
Botellas()

Escriba cuantas botellas de 1 litro reciclo: 10
Escriba cuantas botellas de 1.5 litros reciclo: 10
Escriba cuantas botellas de 2 litros reciclo: 30

'Lo que el usuario debe recibir es: 120000'

SEPTIMO PUNTO

In [ ]:
def Comida():
  Valor = int(input("Escriba el costo de su comida: "))
  Propi = int(input("Escriba el valor de propina: "))
  resul = ((Propi/100)* Valor)+(Valor*0.08)+Valor
  return f"Su valor total es {resul}"

In [ ]:
Comida()

Escriba el costo de su comida: 20000
Escriba el valor de propina: 10

'Su valor total es 23600.0'

OCTAVO PUNTO

In [ ]:
def producto():
  A = int(input("Escriba cuantos productos del A compro: "))
  B = int(input("Escriba cuantos productos del B compro: ")) 
  Peso = A*123 + B*35 
  if Peso%2 == 0:
    print("Su peso es par y es: " , Peso )
  else:
    print("No es par y no le podemos vender si no es par, su peso es:", Peso)

In [ ]:
producto()

Escriba cuantos productos del A compro: 1
Escriba cuantos productos del B compro: 2
No es par y no le podemos vender si no es par, su peso es: 193

NOVENO PUNTO

In [24]:
def parqueadero():
  vehiculo = (input("¿Que tipo de vehiculo tiene:  "))
  if vehiculo == "carro":
    vcarro = int(input("¿Cuantos minutos lleva su carro estacionado?: "))
    print("Su valor a pagar es:", vcarro*70)
    pago = int(input("¿Con cuanto dinero va a pagar?: "))
    print("Su cambio es: ", pago - (vcarro*70) )
  elif vehiculo == "moto":
    vmoto = int(input("¿Cuantos minutos lleva su moto estacionada?: "))
    print("Su valor a pagar es: ", vmoto*42)
    pago1 = int(input("¿Con cuanto dinero va a pagar?: "))
    print("Su cambio es: ", pago1 - (vmoto*42) )
  elif vehiculo == "bicicleta":
    vbici = int(input("¿Cuantos minutos lleva su bicicleta estacionada?: "))
    print("Su valor a pagar es: ", vbici*10)
    pago2 = int(input("¿Con cuanto dinero va a pagar?: "))
    print("Su cambio es: ", pago2 - (vbici*10) )

In [25]:
parqueadero()

¿Que tipo de vehiculo tiene:  moto
¿Cuantos minutos lleva su moto estacionada?: 160
Su valor a pagar es:  6720
¿Con cuanto dinero va a pagar?: 20000
Su cambio es:  13280

DECIMO PUNTO

In [37]:
import numpy as np
def Circulo():
  radio = int(input("Escriba el radio de el circulo: "))
  perimetro = 2*np.pi*radio
  area = np.pi*radio**2
  return f"El perimetro del circulo es: {perimetro} centimetros y su area es: {area} centimetros cuadrados"

In [38]:
Circulo()

Escriba el radio de el circulo: 3

'El perimetro del circulo es: 18.84955592153876 centimetros y su area es: 28.274333882308138 centimetros cuadrados'

DECIMO PRIMER PUNTO

In [94]:
from datetime import datetime
def Años():
  fecha_nacimiento=(input("ingresa le fecha de tu nacimiento con el siguiente formato: DD/MM/YYYY"))
  
  fecha_actual=datetime.today().strftime('%d/%m/%Y')
  fecha_nacimiento=fecha_nacimiento.split('/')
  fecha_actual=fecha_actual.split('/')
  if int(fecha_actual[1]) > int(fecha_nacimiento[1]) or int(fecha_actual[1]) == int(fecha_nacimiento[1]) and int(fecha_actual[0]) >= int(fecha_nacimiento[0]):
    years=int(fecha_actual[2])-int(fecha_nacimiento[2])
    print('Tienes ' + str(years) + ' años')
  else:
    years=int(fecha_actual[2])-int(fecha_nacimiento[2])-1
    print('Tienes ' + str(years) + ' años')

In [95]:
Años()

ingresa le fecha de tu nacimiento con el siguiente formato: DD/MM/YYYY10/05/2001
Tienes 20 años

DECIMO SEGUNDO PUNTO

In [100]:
def Temperatura():
  Cel = int(input("Escriba los grados en Celsius: "))
  Fahrenheit = Cel * 1.8 + 32
  Kelvin = Cel + 273.15
  return f"Loa grados de Celsius a Fahrenheit son: {Fahrenheit} y de Celsius a Kelvin son: {Kelvin}"

In [101]:
Temperatura()

Escriba los grados en Celsius: 100

'Loa grados de Celsius a Fahrenheit son: 212.0 y de Celsius a Kelvin son: 373.15'

DECIMO TERCER PUNTO

In [186]:
lista= []
cantidad = int(input("Cuantos datos desea agregar: "))
while cantidad>0:
    dato = input("Ingrese sus datos: ")
    lista.append(dato)
    cantidad-=1
print("Contenido lista",lista)
for i in range(len(lista)):
    lista[i] = int(lista[i])
lista.sort() 
Max = (max(lista))
Min = (min(lista))
Sum = (sum(lista))
print(f"El valor maximo es: {Max} el valor minimo es: {Min} y la suma de todos los elementos es {Sum}")

Cuantos datos desea agregar: 10
Ingrese sus datos: 2
Ingrese sus datos: 4
Ingrese sus datos: 6
Ingrese sus datos: 8
Ingrese sus datos: 10
Ingrese sus datos: 12
Ingrese sus datos: 14
Ingrese sus datos: 16
Ingrese sus datos: 18
Ingrese sus datos: 20
Contenido lista ['2', '4', '6', '8', '10', '12', '14', '16', '18', '20']
El valor maximo es: 20 el valor minimo es: 2 y la suma de todos los elementos es 110

DECIMO CUARTO PUNTO

In [210]:
def dias(mes):
  if mes.lower() in ("enero", "marzo","mayo","julio","agosto","octubre","diciembre"):
    return "31"
  elif mes.lower() == "febrero":
    return "28/29"
  else:
    return "30"
meses = input("Ingrese el mes: ")
print(dias(meses))

Ingrese el mes: septiembre
30

DECIMO QUINTO

In [217]:
def edades():
  n= int(input("Escriba su edad: "))
  if n<18:
    print("MENOR DE EDAD")
  elif n > 18 and n< 45:
    print("ADULTO JOVEN")
  elif n > 45 and n< 60:
    print("ADULTO")
  elif n>60:
    print("ADULTO MAYOR")

In [221]:
edades()

Escriba su edad: 46
ADULTO

DECIMO SEXTO

In [228]:
def Caras():
  valor= int(input("Ingrese el valor de su billete: "))
  if valor == 1000:
    print("La cara es: Jorge Eliecer Gaitan")
  elif valor == 2000:
    print("La cara es: Francisco de Paula Santander")
  elif valor == 5000:
    print("La cara es: Jose Asuncion Silva")
  elif valor == 10000:
    print("La cara es: Policarpa Salavarrieta")
  elif valor == 20000:
    print("La cara es: Julio Garavito Armero")
  elif valor == 50000:
    print("La cara es: Jorge Isaacs")
  elif valor == 100000:
    print("La cara es: Carlos Lleras Restrepo")

In [231]:
Caras()

Ingrese el valor de su billete: 5000
La cara es: Jose Asuncion Silva

DECIMO SEPTIMO

In [297]:
New = [3,5,1,9,10,11,32,21,5,1,209,432,1,32,45]

In [298]:
#Agregar un elemento
New.append(10)

In [299]:
#Agregar un elemento
New.append(3)

In [300]:
#Agregar varios elementos
New.extend([5,6,7])

In [301]:
#Eliminar el ultimo elemento
New.pop()

7

In [302]:
#Ordenar lista ascendente
New.sort()

In [303]:
#Eliminar el ultimo elemento
New.pop()

432

In [304]:
#Ordenar lista descendente
New.sort(reverse=True)

In [305]:
#Eliminar posicion 10
New.pop(10)

5

In [306]:
#Agrege el 10
New.append(10)

In [307]:
#Agrege el 345
New.append(345)

In [308]:
#Agrege el 1
New.append(1)

In [309]:
#Elimine el 9
New.remove(9)

In [310]:
#Invierta el orden de la lista
New.reverse()

In [311]:
#Organice la lista
New.sort()

In [313]:
New

[1, 1, 1, 1, 3, 3, 5, 5, 6, 10, 10, 10, 11, 21, 32, 32, 45, 209, 345]

In [314]:
#Numeros pares de la lista al cuadrado
for num in New:
      
    
    if num % 2 == 0:
       print(num**2, end = " ")

36 100 100 100 1024 1024

In [317]:
#Numeros multiplos de 3 al cubo
for num in New:
      
    
    if num % 3 == 0:
       print(num**3, end = " ")

27 27 216 9261 91125 41063625

In [318]:
#Elimine ultimo elemento
New.pop()

345

In [319]:
#Elimine ultimo elemento
New.pop()

209

In [320]:
New

[1, 1, 1, 1, 3, 3, 5, 5, 6, 10, 10, 10, 11, 21, 32, 32, 45]